*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
    text-decoration: none;
}
body{
    background:#fff;
    width: 100vw;
    height: 100vh;
    font-family:'Open Sans', sans-serif;
}
nav{
    width: 100%;
}
nav .container-fluid{
    padding: 1% 5% 0;
}
nav .nav-link{
    color: black !important;
}
nav .active{
    color: #296A1E !important;
    position: relative;
    width: auto;
}
nav .active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    top: -10px;
    border-radius: 3px;
    background-color: #296A1E;
}
.d-flex{
    width: 10%;
}
.d-flex a{
    color: #000;
    padding-right: 10%;
}
.hero{
    width: 100%;
    padding: 10% 5% 5%;
    height: fit-content;
    border-bottom: #a0a0a0 2px solid;
}
.hero .left{
    width: 40%;
    height: fit-content;
}
.hero h2{
    color: #296A1E;
}
.hero .right img{
    width: 100%;
}
.hero .left{
    width: 40%;
    height: fit-content;
}
.hero h2{
    font-size: 250%;
}
.hero p{
    padding: 3% 0 5%;
    text-align: start;
    font-weight: 500;
    width: 92%;
}
.hero button{
    padding: 2% 9%;
    border-radius: 5px;
    background-color: #296A1E;
    color: #fff;
    border: none;
    margin-bottom: 5%;
}
.hero .left-icons i{
    margin-right: 10%;
    padding: 3%;
    color: #000;
    border-radius: 50%;
    box-shadow: 3px 10px 14px rgb(0 0 0/15%);
    margin-bottom: 5%;
}
.hero .right{
    width: 60%;
    text-align: center;
    height: fit-content;
}
.hero .right img{
    width: 100%;
}
.about{
    width: 100%;
    padding: 5% 5% 5%;
}
.about .left{
    width: 50%;
}
.about .left img{
    width: 100%;
}
.about .right{
    width: 50%;
    padding-top: 15%;
}
.about .right h3{
    color: #296A1E;
    margin: 0% 0 5% ;
    font-size: x-large;
}
.about .right p{
    font-weight: 600;
}
.about .right h4{
    color: #296A1E;
    margin-top: 8%;
    font-size: x-large;
}
.about .right img{
    width: 40%;
}
.occ{
    width: 100%;
    background-color: #ececec;
    padding: 5% 5% 5%;
    text-align: center;
    color: #296A1E;
}
.occ h3{
    color: #296A1E;
    margin: 0% 0 5% ;
    font-size: xx-large;
}
.occ .flex{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.occ .flex .left{
    width: 30%;
    padding: 2%;
    border-radius: 30px;
    background-color: #fff;
}
.occ .flex .left img{
    width: 40%;
    height: 150px;
}
.occ .flex .left .inside{
    width: 60%;
    height: fit-content;
}
.occ .flex .left .inside p{
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    margin-top: 30%;
}
.occ .flex .left .inside a{
    width: 100%;
    color: #296A1E;
    font-weight: 600;
    font-size: 18px;
}
.styles{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
    border-bottom: #a0a0a0 2px solid;
}
.styles .left{
    width: 60%;
    padding: 0 10%;
}
.styles .left img{
    width: 100%;
}
.styles .right{
    width: 40%;
}
.styles .right h3{
    color: #296A1E;
    font-weight: 600;
    font-size: xx-large;
    margin-bottom: 10%;
}
.styles .right p{
    font-weight: 500;
    font-size: large;
    width: 85%;
    margin-bottom: 7%;
}
.styles .right a{
    text-decoration: none;
    color: #fff;
    background-color: #296A1E;
    padding: 3% 14%;
    border-radius: 20px;
}
.sales{
    width: 100%;
    height: fit-content;
    padding: 2% 5% 5%;
    border-bottom: #a0a0a0 2px solid;
}
.sales nav .navbar-brand{
    color: #296A1E;
    font-size: 40px;
    font-weight: 600;
}
.sales nav .active{
    width: auto;
    position: relative;
}
.sales nav .active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    top: -10px;
    border-radius: 3px;
    background-color: #296A1E;
}
.sales nav .nav-link{
    font-size: 20px;
    margin-left: 30px;
    font-weight: 600;
}
.sales .cont{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sales .cont .box{
    width: 25%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}
.sales .cont .box .left img{
    border-radius: 20px;
}
.dis{
    width: 100%;
    height: 63%;
    position: relative;
    border-bottom: #a0a0a0 2px solid;
}
.dis::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/d1c9f1103670c35066d6f483a73732f3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.3;
}
.dis h4{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    padding: 5% 8% 2%;
    color: #296A1E;
}
.dis li{
    position: relative;
    list-style: disc;
    padding: 0 8% 2%;
}
.dis li a{
    font-size: 20px;
    font-weight: 600;    
    text-decoration: none;
    color: #296A1E;
}
.dis .learn{
    margin: 3% 8% 5%;
    padding: 12px 50px;
    border: #296A1E;
    position: relative;
    border-radius: 15px;
    background-color: #296A1E;
    color: #fff
}
.why{
    padding: 5% 5% 10%;
    width: 100%;
}
.why h2{
    text-align: center;
    color: #296A1E;
    font-weight: 600;
    font-size: 30px;
}
.why .boxs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.why .boxs .box{
    text-align: center;
    margin-top: 5%;
}
.why .boxs .box img{
    width: 60px;
    height: auto;
    text-align: center;
    border-radius: 50%;
    border: none;
    margin-bottom: 10%;
    padding: 10px;
    box-shadow: 1px 3px 10px #555555;
}
.why .boxs .box h3{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5%;
}
.why .boxs .box p{
    font-weight: 500;
    font-size: 15px;
    width: 210px;
}
@media only screen and (max-width: 600px) {
    nav .active{
        width: fit-content;
        position: relative;
    }
    nav .active::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        top: 0px;
        border-radius: 3px;
        background-color: #296A1E;
    }
    .hero .left,.right{
        width: 100%;
        height: fit-content;
    }
    .hero h2{
        font-size: 250%;
    }
    .hero p{
        padding: 3% 0 5%;
        text-align: start;
        font-weight: 500;
        width: 92%;
    }
    .hero button{
        padding: 2% 9%;
        border-radius: 5px;
        background-color: #296A1E;
        color: #fff;
        border: none;
        margin-bottom: 5%;
    }
    .hero .left-icons i{
        margin-right: 10%;
        padding: 3%;
        color: #000;
        border-radius: 50%;
        box-shadow: 3px 10px 14px rgb(0 0 0/15%);
        margin-bottom: 5%;
    }
    .hero .right img{
        width: 150%;
    }
    .about{
        width: 100%;
    }
    .about .left{
        width: 100%;
    }
    .about .left img{
        width: 100%;
    }
    .about .right{
        width: 100%;
    }
    .occ h3{
        color: #296A1E;
        margin: 10% 0 15% ;
        font-size: x-large;
    }
    .occ .flex{
        flex-direction: column;
        gap: 40px;
    }
    .occ .flex .left{
        width: 80%;
    }
    .styles{
        text-align: center;
        flex-direction: column;
        padding: 5%;
    }
    .styles .left{
        width: 100%;
    }
    .styles .right{
        width: 100%;
        text-align: center;
    }
    .styles .right h3{
        margin: 5% 0 10%;
    }
    .styles .right p{
        text-align: center;
        width: 100%;
    }
    .sales nav .active{
        width: fit-content;
        position: relative;
    } 
    .sales nav .active::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        top: -10px;
        border-radius: 3px;
        background-color: #296A1E;
    }
    .sales .cont{
        margin-top: 10%;
        flex-direction: column;
        gap: 60px;
    }
    .sales .cont .box{
        width: 90%;
        padding: 2%;
        background-color: #fff;
        border-radius: 20px;
    }
    .sales .cont .box .left{
        width: 80%;
    }
    .sales .cont .box .left img{
        border-radius: 20px;
        width: 100%;
    }
    .dis h4{
        font-size: 22px;
    }
    .dis li a{
        font-size: 15px;
    }
    .dis .learn{
        margin-top: 6%;
    }
    .why .boxs{
        flex-direction: column;
    }
}
@media only screen and (min-width: 600px) and (max-width:768px) {
    nav .active{
        width: fit-content;
        position: relative;
    }
    nav .active::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        top: 0px;
    }
    .hero .left,.right{
        width: 100%;
        height: fit-content;
    }
    .hero h2{
        font-size: 250%;
    }
    .hero p{
        padding: 3% 0 5%;
        text-align: start;
        font-weight: 500;
        width: 92%;
    }
    .hero button{
        padding: 2% 9%;
        border-radius: 5px;
        background-color: #296A1E;
        color: #fff;
        border: none;
        margin-bottom: 5%;
    }
    .hero .left-icons i{
        margin-right: 10%;
        padding: 3%;
        color: #000;
        border-radius: 50%;
        box-shadow: 3px 10px 14px rgb(0 0 0/15%);
        margin-bottom: 5%;
    }
    .hero .right img{
        width: 150%;
    }
    .occ h3{
        color: #296A1E;
        margin: 10% 0 15% ;
        font-size: x-large;
    }
    .occ .flex{
        flex-direction: column;
        gap: 40px;
    }
    .occ h3{
        color: #296A1E;
        margin: 10% 0 15% ;
        font-size: 30px;
    }
    .occ .flex{
        flex-direction: column;
        gap: 40px;
    }
    .occ .flex .left{
        width: 60%;
    }
    .occ .flex .left img{
        height: 200px;
    }
    .occ .flex .left .inside p{
        font-size: 20px;
        margin-top: 30%;
    }
    .occ .flex .left .inside a{
        font-size: 20px;
    }
    .styles{
        text-align: center;
        flex-direction: column;
        padding: 5%;
    }
    .styles .left{
        width: 100%;
    }
    .styles .right{
        width: 100%;
        text-align: center;
    }
    .styles .right h3{
        margin: 5% 0 10%;
    }
    .styles .right p{
        text-align: center;
        width: 100%;
    }
    .sales nav .active{
        width: fit-content;
        position: relative;
    }
    .sales nav .active::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        top: -10px;
        border-radius: 3px;
        background-color: #296A1E;
    }
    .sales .cont{
        margin-top: 10%;
        flex-direction: column;
        gap: 60px;
    }
    .sales .cont .box{
        width: 50%;
        padding: 2%;
        background-color: #fff;
        border-radius: 20px;
    }
    .sales .cont .box .left img{
        border-radius: 20px;
    }
    .why .boxs .box p{
        width: 150px;
    }
}
@media only screen and (min-width: 768px) and (max-width:992px) {
    nav .active{
        width: fit-content;
        position: relative;
    }
    nav .active::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        top: 0px;
    }
    .hero .left{
        width: 100%;
        height: fit-content;
    }
    .hero h2{
        font-size: 250%;
    }
    .hero p{
        padding: 3% 0 5%;
        text-align: start;
        font-weight: 500;
        width: 92%;
    }
    .hero button{
        padding: 2% 9%;
        border-radius: 5px;
        background-color: #296A1E;
        color: #fff;
        border: none;
        margin-bottom: 5%;
    }
    .hero .left-icons i{
        margin-right: 10%;
        padding: 3%;
        color: #000;
        border-radius: 50%;
        box-shadow: 3px 10px 14px rgb(0 0 0/15%);
        margin-bottom: 5%;
    }
    .hero .right img{
        width: 150%;
    }
    .occ h3{
        color: #296A1E;
        margin: 10% 0 15% ;
        font-size: 40px;
    }
    .occ .flex{
        flex-direction: column;
        gap: 40px;
    }
    .occ .flex .left{
        width: 50%;
    }
    .occ .flex .left img{
        height: 250px;
    }
    .occ .flex .left .inside p{
        font-size: 20px;
        margin-top: 40%;
    }
    .occ .flex .left .inside a{
        font-size: 20px;
    }
    .sales nav .active{
        width: fit-content;
        position: relative;
    }
    .sales nav .active::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        top: -10px;
        border-radius: 3px;
        background-color: #296A1E;
    }
    .sales .cont{
        margin-top: 10%;
        flex-direction: column;
        gap: 60px;
    }
    .sales .cont .box{
        width: 50%;
        padding: 2%;
        background-color: #fff;
        border-radius: 20px;
    }
    .sales .cont .box .left img{
        border-radius: 20px;
    }
    .why .boxs .box p{
        width: 150px;
    }
}
@media only screen and (min-width: 992px) and (max-width:1200px) {
    .hero .left{
        width: 40%;
        height: fit-content;
    }
    .hero h2{
        font-size: 250%;
    }
    .hero p{
        padding: 3% 0 5%;
        text-align: start;
        font-weight: 500;
        width: 92%;
    }
    .hero button{
        padding: 2% 9%;
        border-radius: 5px;
        background-color: #296A1E;
        color: #fff;
        border: none;
        margin-bottom: 5%;
    }
    .hero .left-icons i{
        margin-right: 10%;
        padding: 3%;
        color: #000;
        border-radius: 50%;
        box-shadow: 3px 10px 14px rgb(0 0 0/15%);
        margin-bottom: 5%;
    }
    .hero .right{
        width: 60%;
        height: fit-content;
    }
    .hero .right img{
        width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    
}